
body {
    background: no-repeat  100% url(https://hdwallsource.com/img/2017/2/blue-tesla-model-s-wallpaper-background-62154-64080-hd-wallpapers.jpg);
    width: 100%;
    background-size: cover;
    /*background-position: center;*/
  height: inherit;


}

.produktList{
    width: 100%;
    position: inherit;

}




.header-container{

  width: 100%;
    text-align: center;
}
.Site-name{
    text-align: center; font-size: xx-large; font-style: italic;
}
.h3{
    text-align: center;

}

.produrk-in-cart{
    display: inline-block;
    width: 120px;
}

.mini-cart{
    float: right;
    width: 20%;
    display: block;
}























